/DezSys09_Weinb_5BHIT.aux
/DezSys09_Weinb_5BHIT.lof
/DezSys09_Weinb_5BHIT.log
/DezSys09_Weinb_5BHIT.lol
/DezSys09_Weinb_5BHIT.out
/DezSys09_Weinb_5BHIT.synctex.gz
/DezSys09_Weinb_5BHIT.toc
/DezSys09_Weinb_5BHIT.bbl
/DezSys09_Weinb_5BHIT.blg
/DezSys09_Weinb_5BHIT.tex.bak
*.bib.bak
